


ion-content.background{
    --background:url(../../assets/333.jfif) ;
    min-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }



ion-title {
    font-weight: 600;
}

.swiper-slide-active {
     transform: scale(1.05,1.05);
}

.swiper-slide-active {
    transform: 400ms all ease-in-out;
}